.auth {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.auth label {
  text-align: left;
  display: block;
}
.auth h2 {
  color: black;
  margin-bottom: 30px;
}
.auth input, .auth textarea, .auth select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.auth button {
  background: black;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}